@model Article

<h3 class="bg-danger text-white text-center">

</h3>

<form action="NeuerArtikel" method="post">
    <div class="form-group">
        <label asp-for="Headline"></label>
        <input asp-for="Headline " class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content " class="form-control" rows="10"/></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Author"></label>
        <input asp-for="Author " class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ImageFile"></label>
        <input asp-for="ImageFile " class="form-control" />
    </div>
    <button type="submit" class="btn-primary">Speichern</button>
</form>